################################
# ROOT
################################
.DS_Store
*.log

################################
# CLIENT (Node)
################################
/client/node_modules
/client/dist
/client/coverage
/client/.env
/client/.env.*

################################
# SERVER (Laravel)
################################
/server-laravel/vendor
/server-laravel/node_modules
/server-laravel/.env
/server-laravel/.env.*
/server-laravel/storage/logs/*
/server-laravel/storage/framework/cache/*
/server-laravel/storage/framework/sessions/*
/server-laravel/storage/framework/views/*
/server-laravel/bootstrap/cache/*
/server-laravel/storage/secrets/
/server-laravel/storage/*.key

################################
# Editors
################################
.vscode
.idea


################################
# Node (All node_modules)
################################
node_modules/
**/node_modules/

################################
# Vite cache
################################
.vite/

################################
# Env files
################################
.env
.env.*
**/.env
**/.env.*



# Node
node_modules/
**/node_modules/
.vite/
dist/
coverage/

# Env files
.env
.env.*
**/.env
**/.env.*

# Laravel
/server-laravel/vendor/
/server-laravel/storage/*.key
/server-laravel/storage/secrets/
/server-laravel/bootstrap/cache/*.php

# OS
.DS_Store